<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/all.svg" alt="For you" class="img-fluid">
            <div>For you</div>
        </div>
        <div class="col">
            <img src="Images/categories/auto-acc.svg" alt="For you" class="img-fluid">
            <div>Cars</div>
        </div>
         <div class="col">
            <img src="Images/categories/auto-new.svg" alt="For you" class="img-fluid">
            <div>Cars</div>
        </div>
         <div class="col">
            <img src="Images/categories/beauty.svg" alt="For you" class="img-fluid">
            <div>BEAUTY</div>
        </div>
         <div class="col">
            <img src="Images/categories/books.svg" alt="For you" class="img-fluid">
            <div>BOOKS</div>
        </div>
         <div class="col">
            <img src="Images/categories/electronics.svg" alt="For you" class="img-fluid">
            <div>ELECTRONICS</div>
        </div>
         <div class="col">
            <img src="Images/categories/fashion.svg" alt="For you" class="img-fluid">
            <div>FASHION</div>
        </div>
         <div class="col">
            <img src="Images/categories/food.svg" alt="For you" class="img-fluid">
            <div>FOOD</div>
        </div>
         <div class="col">
            <img src="Images/categories/furniture.svg" alt="For you" class="img-fluid">
            <div>FURNITURE</div>
        </div>
         <div class="col">
            <img src="Images/categories/home-final.svg" alt="For you" class="img-fluid">
            <div>HOME</div>
        </div>
         <div class="col">
            <img src="Images/categories/mobiles.svg" alt="For you" class="img-fluid">
            <div>MOBILES</div>
        </div>
         <div class="col">
            <img src="Images/categories/sport.svg" alt="For you" class="img-fluid">
            <div>SPORT</div>
        </div>
         <div class="col">
            <img src="Images/categories/toy.svg" alt="For you" class="img-fluid">
            <div>TOYS</div>
        </div>
        <div class="col">
            <img src="Images/categories/tv.svg" alt="For you" class="img-fluid">
            <div>TV</div>
        </div>
    </div>
</div>
